body {
    background-color: #262421;
}

#info-display {
    display: inline;
    color: white;
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 24rem;
    height: 24rem;
}

.square {
    height: 3rem;
    width: 3rem;
    position: relative;
}

.square svg {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.blackSquare {
    background-color: #779954;
}

.whiteSquare {
    background-color: #E9EDCC;
}

.blackPiece {
    fill: rgb(222, 76, 76);
}

.whitePiece {
    fill: rgb(90, 90, 230);
}